@use './mixins';

.contactSection {
	position: relative;
	padding: 90px 20px 75px;
	scroll-margin-top: 80px;
	overflow-x: hidden;
	background-color: rgb(234, 222, 215);
	.whiteBlock {
		position: absolute;
		height: 30px;
		width: 50%;
		background-color: rgb(213, 189, 175);
		&.whiteBlockRight {
			top: 0;
			right: -50px;
			transform: skew(45deg);
		}
	}

	.contactTitlle {
		margin: 0 0 30px;
		text-align: center;
		font-size: 3rem;
		@include mixins.desktops {
			font-size: 4.2rem;
		}
		@include mixins.laptops {
			font-size: 3.8rem;
		}
		
	}
	.contactText {
		text-align: center;
		margin-bottom: 30px;
	}
	.contacData {
		display: flex;
		flex-direction: column;
		gap: 5px;
		font-size: 1.4rem;
		.telBox {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 4px;
		}
		.emailBox {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 4px;
		}
		.fbBox {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 4px;
			a {
				color: rgb(40, 32, 32);
				text-decoration: none;
			}
		}
	}
}
