@use './mixins';
.footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 80px;
	background-color: rgb(255, 255, 255);
	box-shadow: -2px -1px 5px rgb(255, 255, 255);
	
	.footerLogoBox {
		display: flex;
		flex-direction: column;
		align-items: center;
		.footerLogo {
			width: 50px;
			
		}
		p {
			color:rgb(40, 32, 32);;
			font-size: 1.2rem;
		}
	}
	.socialMedia {
		font-size: 2.2rem;
		.fa-square-instagram {
			color: #dd2a7b;
		}
	}
}
