@use './mixins';
.offert {
	flex-direction: column;
	align-items: center;
	gap: 15px;
	padding: 75px 0;
	scroll-margin-top: 80px;
	.offertTitle {
		margin:  0 0 30px;
		text-align: center;
		font-size: 3rem;
		@include mixins.desktops {
			font-size: 4.2rem;
		}
		@include mixins.laptops {
			font-size: 3.8rem;
		}
		
	}
	.offertDescription {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.offertText{
			margin: 0 0 30px;
			text-align: center;
		}
		.offertBtn {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 40%;
			margin: 0 0 30px;
			padding: 5px 10px;
			cursor: pointer;
			background-color: rgb(241, 145, 172);
			border-radius: 10px;
			transition: 0.3s;
			@include mixins.desktops {
				width: 15%;
			}
			@include mixins.laptops {
				width: 15%;
			}
			@include mixins.tablets {
				width: 20%;
			}
			@include mixins.landscapePhone {
				width: 30%;
			}
			.offertLink {
				color: black;
				text-decoration: none;
			}
		}
		.offertBtn:hover {
			box-shadow: 0 0 5px 2px rgb(241, 145, 172);
			font-size: 1.4rem;
			font-weight: bold;
			transform: scale(0.9);
		}
	}
	.offertBoxes {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 15px;
		@include mixins.desktops {
			flex-direction: row;
		}
		@include mixins.laptops {
			flex-direction: row;
		}
		@include mixins.tablets {
			flex-direction: row;
		}
		.offertBox {
			height: 200px;
			padding: 10px;
			background-color: rgb(244, 187, 201);
			border-radius: 10px;
			box-shadow: 0 0 5px 2px rgb(244, 187, 201);

			@include mixins.desktops {
				padding: 20px 15px;
				width: 250px;
				height: 300px;
			}
			@include mixins.laptops {
				height: 250px;
			}
			@include mixins.tablets {
				width: 90%;
				padding: 15px 10px;
				height: 300px;
			}
			@include mixins.landscapePhone {
				width: 80%;
			}
			.boxContent {
				// text-align: center;
				.boxTitle {
					font-size: 1.6rem;
					font-weight: bold;
					text-align: center;
					margin-bottom: 10px;
				}
				.boxDescription {
					text-align: center;
					font-weight: 600;
				}
				.border {
					margin: 15px 0;
					border: 1px solid rgb(251, 248, 204);
				}
				.boxText {
					
					font-size: 1.4rem;
					@include mixins.desktops {
						font-size: 1.6rem;
					}
					@include mixins.laptops {
						font-size: 1.6rem;
					}
					@include mixins.tablets {
						font-size: 1.6rem;
					}
				}
			}

			
		}
	}
}


