@use './reset';
@use './navigation';
@use './header';
@use './mainContent';
@use './about';
@use './offert';
@use './contact';
@use './accordion';
@use './footer';
@use './timetable';


html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	background-color: rgb(213, 189, 175);
	color: rgb(40, 32, 32);
	line-height: 1.2;
}
